<div class="navbar-collapse" id="navbarResponsive" aria-expanded="true">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link page-scroll active" href="#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#team">Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
        </li>
    </ul>
</div>